<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Poker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to Game and Watch Casino <small>A journey into gambling addiction!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}